h1 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 30px;
    border-radius: 30px;
    margin: 5px;
    background-color: rgb(161, 25, 107);
    text-align: center;


}

button {
    background-color: rgb(255, 127, 229);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

div {
    display: grid;
    justify-items: center;
}



body {
    background-color: rgb(192, 71, 103);
    background-image: url(https://i.imgur.com/e6Wip.jpeg
);
    background-size: cover;
    color: pink;
    font-size: 20px;

}